{% load i18n %}

{% block content %}
<ul>
    <!-- انشاء تكرار باستخدام العلاقة بين المهمة والمشروع بواسطة المتغير ضمن كلاس المهمات المسمى بروجيكت  -->
     <!-- task_set : هو الاسم الافتراضي للعلاقة بين المهمة والمشروع  -->
    {% for task in project.task_set.all %}

         <li>{{task.description}}
            <form method="post" action="{% url 'task_update' task.id %}">
                {% csrf_token %}
                <input type="checkbox"name="is_completed"
                {% if task.is_completed %} checked {% endif %}
                onchange ="this.form.submit()">
            </form>
            
            <form method="post" action="{% url 'task_delete' task.id %}">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
            

         </li>

    {% endfor %}

</ul>


 
    <form method="post" action="{% url 'task_create' %}">
        {% csrf_token %}
        <!-- تخوين الرقم الخاص بالمشروع لربطه في المهمة تلثائي في فيوز من غير الحاجة الى انشاء حقل لتحديد المشروع الذي تريد ربطه  -->
        <input type="hidden" value="{{project.id}}" name="project">
        <input type="text"  name="description" placeholder="{% trans 'new Taks' %}">
        <input type="submit" value="{% trans 'Add' %}">
    </form>
{% endblock %}