{% extends 'base.html' %}
<!-- صفحة إنشاء المشاريع -->
{% load i18n %} <!-- كود تحميل اللغات  -->

{% block content %}
    <div class="container mt-4">
        <div class="row justify-content-md-center">
            <div class="card col-md-6 px-0">
                <div class="card-header">
                    <h3 class="mb-0 py-2">{% trans 'Create Project' %}</h3>
                </div>
                <div class="card-body">
                    <!-- نموذج إنشاء المشروع -->
                    <form method="post">
                        {% csrf_token %}
                        <!-- عرض العناوين الخاصة بكل حقل مع الترجمة -->
                        <div class="mb-3">
                            <label for="id_category" class="form-label">{% trans 'Category' %}</label>
                            {{ form.category }}
                        </div>
                        
                        <div class="mb-3">
                            <label for="id_title" class="form-label">{% trans 'Title' %}</label>
                            {{ form.title }}
                        </div>

                        <div class="mb-3">
                            <label for="id_description" class="form-label">{% trans 'Description' %}</label>
                            {{ form.description }}
                        </div>
                        
                        <!-- زر إرسال البيانات -->
                        <button type="submit" class="btn btn-success mt-3">{% trans 'Submit' %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
