
<ul>

    {% for task in project.task_set.all %}
        <li>
            <form method="post" action="{% url 'task_update' task.id %}">
                {% csrf_token %}
                <input 
                    type="checkbox"
                    name="is_completed"

                    {% if task.is_completed %} checked {% endif %} 
                    onchange="this.form.submit()"
                    >
            </form>
            <form method="post" action="{% url 'task_delete' task.id %}">
                {% csrf_token %}
                <button type="submit">Delete</button>
                {{ task.description }}
            </form>
        </li>
    {% endfor %}
</ul>

<form method="post" action="{% url 'task_create' %}">
    {% csrf_token %}
    <input type="hidden" value="{{project.id}}" name="project">
    <input type="text" name="description" placeholder="new taks">
    <input type="submit" value="add">
</form>
